.lezada-team-members {
	position: relative;
	margin-bottom: 30px;

	.name {
		font-size: 34px;
		line-height: 36px;
		font-weight: 600;
		margin: 17px 0;
	}

	.subtext {
		overflow: hidden;
		letter-spacing: .03em;
		font-size: 16px;
		line-height: 16px;
		height: 28px;
		margin: 0;

		transform: translateY(100%);
		@include transit;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 100%;

		@include transit;

		.style-circle & {
			border-radius: 100%;
		}
	}

	ul.social-list {
		a {
			&:hover {
				color: #d11830;
			}
		}
	}

	.social-list__item {
		margin: 0 15px;
		font-size: 20px;
	}

	.social-inside {
		.social-list__item {
			color: #ffffff;
		}

	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}

}

.lezada-team-members.style-square {

	.name {
		color: #ffffff;
		transform: translateY(-100%);
		@include transit;
	}

	.subtext {
		display: block;
		color: #ffffff;
		transform: translateY(100%);
		@include transit;
	}

	.member-image {
		position: relative;
		overflow: hidden;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 100%;

		@include transit;
	}

	.memeber-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: left;
		padding: 20px 40px;
		opacity: 0;
		visibility: hidden;
		z-index: 1;

		@include transit;
	}

	&:after {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51, 51, 51, 0.7);
		opacity: 0;
		visibility: hidden;

		@include transit;
	}

	&:hover {
		.memeber-caption {
			opacity: 1;
			visibility: visible;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}

		.name,
		.subtext {
			transform: translateY(0);
		}
	}

	ul.social-list {
		li:first-child {
			margin-left: 0;
		}
	}
}

.lezada-team-members.style-circle {
	text-align: center;

	.member-image,
	&:after {
		border-radius: 100%;
		max-width: 200px;
		max-height: 200px;
		margin: 0 auto;
		overflow: hidden;
	}

	img {
		border-radius: 100%;
	}

	.name {
		margin-bottom: 8px;
		font-size: 24px;
	}

	.subtext {
		color: #7e7e7e;
	}

	.member-image {
		position: relative;
		&:after {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			left: 0;
			border-radius: 100%;
			width: 100%;
			height: 100%;
			background: rgba(51, 51, 51, 0.7);
			opacity: 0;
			visibility: hidden;

			@include transit;
		}
	}

	.social-inside {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}

	.social-list {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		z-index: 1;
		opacity: 0;
		visibility: hidden;

		transform: translate(-50%, -50%);
		@include transit;
	}

	&:hover {

		.social-list {
			opacity: 1;
			visibility: visible;
		}

		.member-image {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
