input[type='text'],
input[type='number'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='tel'],
textarea {
	font-size: 14px;
	display: block;
	color: #222;
	width: 100%;
	border: 1px solid transparent;
	transition: all .3s ease-in-out;
	background: transparent;
	border-bottom: 2px solid #cccccc;
	padding: 9.5px 0;

	@extend %transit;

	&:hover,
	&:focus {
		outline: none;
		box-shadow: none;
		border-bottom-color: #333333;
	}

	::-webkit-input-placeholder,
	::-moz-placeholder
	:-ms-input-placeholder,
	:-moz-placeholder {
		color: #ababab;
		letter-spacing: 0;
		font-size: 15px;
		line-height: 1.7;
	}

	@include media-breakpoint-down(lg) {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}
