.author-info {
	display: table;
	text-align: center;
	margin-bottom: 40px;

	.has-no-sidebars & {
		max-width: 860px;
		margin: 0 auto 40px auto;
	}

	@include media-breakpoint-up(sm) {
		text-align: left;
	}
}

.author-link {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
}
.author-avatar {
	margin-bottom: 20px;

	img {
		border-radius: 50%;
	}

	@include media-breakpoint-up(sm) {
		display: table-cell;
		vertical-align: top;
		width: 130px;
	}
}

.author-title {
	margin-top: 0;
	font-size: 18px;
	margin-bottom: 15px;
}

.author-bio {
	font-size: 15px;
	line-height: 1.8;
	letter-spacing: .03em;
	margin-bottom: 14px;
}

.author-description {

	@include media-breakpoint-up(sm) {
		display: table-cell;
		vertical-align: top;
		padding-right: 50px;
	}
}
